#electronicsSelect{
    margin-left: 10px;
}
#bookSelect{
    margin-left: 200px;
}
#product{
    padding-top: 10px;

}
#image {
    border-style: groove;
    padding-top: 13px;
    padding-bottom: 13px;
}
.check{
    padding-left: 37px;
}
#myinput{
    margin-top: 20px;
}

@media only screen and (max-width: 1024px){
    #myinput{
        width: 96%;
    }
}
